AI AUDIO GENERATOR.json
{
  "name": "AI AUDIO GENERATOR",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "acc7c2f4-e673-4f13-930e-8762434f4228",
      "name": "When chat message received",
      "webhookId": "331cc618-4779-40ae-80fd-af29b3166ab0"
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=You are a professional podcast script writer.  Write a conversational and engaging podcast script on the topic: {{ $json.chatInput }}.  Keep it around 2 minutes when spoken.  Use a friendly and informative tone, as if talking directly to listeners.  Avoid any headings, labels, or formatting. Output plain text only."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        208,
        0
      ],
      "id": "5f904059-bf5b-48f0-9e2d-9c62b8756dc0",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        224
      ],
      "id": "8e6b7ce7-85cf-4dab-90b3-7a8c2fa01ee6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ycDngGHWSJJGU3U1",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://global.api.murf.ai/v1/speech/stream",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "ap2_f7ae1b4f-8131-43a4-abc7-c43abfa74a1a"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "voiceId",
              "value": "{\"voice_id\":\"Alicia\",\"style\":\"Conversation\",\"model:\":\"Falcon\"}"
            },
            {
              "name": "locale",
              "value": "en-US"
            },
            {
              "name": "model",
              "value": "FALCON"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        560,
        0
      ],
      "id": "e761e9d7-a70f-4e7b-ace7-22b163452c24",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1a8ea20f-54d5-4a2b-9b78-49616a7794c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8390a92ff8fcb30401bc00143d9714cd7e8c9955b8420ce898f1245b46af360a"
  },
  "id": "lXuXpX8QDPDH8Dnt",
  "tags": []
}